# Python
.venv/
myenv12/
__pycache__/
*.pyc

# Environment
.env

# VSCode
.vscode/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# txt
*.log

# 忽略所有 Windows 備用資料流標記
*Zone.Identifier

.override.yml